body{
	margin: 0;
	padding: 0;
}
#login{
    font-size: .8rem;
    background-color:skyblue; 
    background-image: url('../img/login.png');
    background-repeat: repeat;
    position: absolute;
    width: 100%;
    height: 100%;
}
#login form{
	margin: 0 auto;
    width: 350px;
    position: relative;
    top: 40%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
input[type=email],input[type=password]{
	width: 100%;
	height: 30px;
	margin: 2px;	
	border-radius: 5px;	
}
.inline-block{
    display: inline-block !important;
}
.v-top{
    vertical-align: top !important;
}
table{
    margin-left: 2em !important;
}
.m-1{
    margin-left: 1em !important;
}